.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: rgba(255,255,255,.1);
    box-shadow: inset 0px 3.00856px 6.01712px rgb(255 255 255 / 4%), inset 0px -3.00856px 9.02569px rgb(255 255 255 / 5%), inset 0px -1.50428px 20.0571px rgb(255 255 255 / 2%), inset 0px 20.0571px 20.0571px rgb(255 255 255 / 2%), inset 0px 1.00285px 20.5585px rgb(255 255 255 / 8%), 1px 1px 12px rgb(0 0 0 / 25%);
    backdrop-filter: blur(10px);
    color:#fff;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }