.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0px 3.00856px 6.01712px rgb(255 255 255 / 4%), inset 0px -3.00856px 9.02569px rgb(255 255 255 / 5%), inset 0px -1.50428px 20.0571px rgb(255 255 255 / 2%), inset 0px 20.0571px 20.0571px rgb(255 255 255 / 2%), inset 0px 1.00285px 20.5585px rgb(255 255 255 / 8%), 1px 1px 12px rgb(0 0 0 / 25%);
    backdrop-filter: blur(10px);
    
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }